.about {
  position: relative;
  padding-top: $headerHeightLg;
  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &__title {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 21%;
    margin: 10px 10px;
    align-items: center;
  }

  &__img-block {
    display: flex;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__img {
    transition: transform .3s;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
  }

  &__descr {
    text-align: center;
    font-size: calc(12px + 30 * ((100vw - 320px) / 3520));
  }
}

.bg-color-about:before {
  top: 15%;
  left: 0;
  width: 400px;
  height: 400px;
  background: $bgHeadBefore;
}
.bg-color-about:after {
  top: 5%;
  right: 5%;
  width: 200px;
  height: 200px;
  background: $bgHeadBefore;
}
/* bg-color end */