.services {
  position: relative;
  padding-top: $headerHeightLg;
  &__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &__title {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    margin: 20px 10px;
    align-items: center;
  }

  &__img-block {
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__img {
    transition: transform .3s;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__descr {
    text-align: center;
    font-size: calc(12px + 30 * ((100vw - 320px) / 3520));
  }
}

/* bg-color start */
.bg-color-services:before {
  top: 5%;
  left: 25%;
  width: 450px;
  height: 450px;
  background: $bgSliderBefore;
}
.bg-color-services:after {
  bottom: 15%;
  right: 15%;
  width: 250px;
  height: 250px;
  background: $bgSliderAfter;
}
/* bg-color end */