$textShadow: 0 1px 5px rgba(255, 255, 255, 0.377);

$bgMenu: rgb(230, 230, 230);
$bgHeadBefore: rgba(78, 18, 143, .5);
$bgHeadAfter: #e8e7e5;
$bgSliderBefore: rgb(255, 158, 255);
$bgSliderAfter:  rgba(78, 18, 143, .5);
$bgFormBefore:  rgba(78, 18, 143, .5);
$bgFormAfter: rgba(210, 33, 107, 0.459);

$colorH1: #000;

$headerHeightSm: 4em;
$headerHeightLg: 7em;

$marginBottomSection: 50px;

$borderRadiusMenu: 15px;
$borRadImg: 4px;

$boxShadowMenu: inset -.2em -.2em .5em #b8b9be, inset .3em .3em .7em #fff;
$boxShadowMenuHover: inset .2em .2em .5em #b8b9be, inset -.3em -.3em .7em #fff;