@import "reset";
@import "fonts";
@import "vars";

@import "header";
@import "head-block";
@import "services";
@import "slider";
@import "about";
@import "form";
@import "footer";

html {
	scroll-behavior: smooth;
}
body {
  font-family: 'Roboto';
  font-size: 10px;
}
body.active {
  overflow: hidden;
}

.container {
  // max-width: 1200px;
  margin: 0 6%;
  // padding: 0 15px;
}

h2 {
  font-family: 'Comfortaa';
  font-size: calc(22px + 100 * ((100vw - 320px) / 3520));
  color: #000;
  text-align: center;
}

h3 {
  font-size: calc(16px + 30 * ((100vw - 320px) / 3520));
}

.main {
  overflow: hidden;
}

.bg-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}
.bg-color:before {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.bg-color:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}


.scrolltop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -20%;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background: rgb(197, 197, 197);
  visibility: hidden;
  transition: 1s;
  z-index: 100;
  &.show-scroll {
    visibility: visible;
    bottom: 10px;
  }
  &:hover .arrow-top {
    transform: scale(1.2);
    fill: rgb(255, 255, 255);
  }
}
.arrow-top {
  width: 15px;
  height: 15px;
  fill: rgb(236, 236, 236);
  transition: transform .3s, fill .3s;
}

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.541);
}
 
body::-webkit-scrollbar-thumb {
  background: rgba(187, 15, 255, 0.993);
  border-radius: 10px
}

@import "media";